<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../img/favicon.png">
    <title>Laben -Food Service</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link rel="stylesheet" href="../css/font-awesome/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-red navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand-image" href="#"><img src="../img/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav-doc">
                    <button class="btn btn-doc pull-right"><i class="fa fa-download" aria-hidden="true"></i> Documentación</button>
                </div>

                <ul class="nav navbar-nav">
                    <li class="nav-effect">
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="nav-effect">
                        <a class="active" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-effect">
                        <a href="productos.html">Productos</a>
                    </li>
                    <li class="nav-effect">
                        <a href="distribucion.html">Distribución</a>
                    </li>
                    <li class="nav-effect">
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-effect hidden">
                        <a href="#">Documentación</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-icon" href="https://www.facebook.com/LabenFoodService/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="nav-icon" href="https://www.instagram.com/labenfoods/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Fin Navigation -->

    <!-- Header -->
    <!-- <header class="banner" id="labenNosotros">
        <div class="container">
        </div>
    </header> -->
    <header class="banner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="banner-img" src="../img/banner1.jpg">
                </div>
            </div>
        </div>
    </header>
    <!-- Fin Header -->


    <!-- Page Content -->
    <section class="laben-section gray">
        <div class="container">
            <div class="row">
                
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="col-md-12 no-padding">
                        <div class="section-title2">
                            <h2>Nosotros</h2>
                        </div>
                        <div class="section-p">
                            <p>Laben Food Service nace gracias a la gran demanda que existe hoy en día para los alimentos de alta calidad; ya que nosotros sabemos lo importante que es recibir un producto a tiempo, con excelente calidad, en la temperatura adecuada y en el mejor precio.</p>
                            <p>Para nosotros el cliente forma parte fundamental de la empresa, siendo nuestro pilar; es por eso que buscamos darles el mejor precio posible en el mercado y así lograr crecer juntos.</p>
                            <p>Continuamente trabajamos en buscar productos de la más alta calidad para ofrecer a nuestros clientes un servicio mucho más completo. Actualmente contamos con productos de las empresas más reconocidas mundialmente en sus diferentes ramas de alimentos.</p>
                            <p>Sabemos la importancia de las certificaciones alimentarias, y es por eso que contamos con productos cerficiados TIF, HACCP, KOSHER, PLANTA TIF 114 y USDA; así como la autorización para exportar a Estados Unidos, Corea del Sur, Costa Rica, Panamá y Republica Dominicana.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="laben-section">
        <div class="container">
            <div class="row">
                
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 no-padding">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-b-md">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 no-padding">
                            <img class="full-width" src="../img/4-Nosotros1.jpg">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                            <h3 class="sub-title">Misión</h3>
                            <div class="col-p">
                                <p>Hacer de la distribución de alimentos una experiencia inigualable con un excelente servicio al cliente, ofreciendo los mejores productos en el mercado y al mismo tiempo cuidando la cartera de nuestros clientes para lograr un crecimiento en conjunto.</p>
                            </div> 
                        </div>
                        
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-b-md">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 no-padding">
                            <img class="full-width" src="../img/4-Nosotros2.jpg">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                            <h3 class="sub-title">Visión</h3>
                            <div class="col-p">
                                <p>Ser la empresa líder de distribución de alimentos secos, refrigerados y congelados en mayoreo a nivel nacional.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 no-padding">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-b-md">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 no-padding">
                            <img class="full-width" src="../img/4-Nosotros3.jpg">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                            <h3 class="sub-title">Valores</h3>
                            <div class="col-p">
                                <p>Honestidad</p>
                                <p>Responsabilidad</p>
                                <p>Confianza</p>
                                <p>Excelencia en el servicio</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-b-md">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 no-padding">
                            <img class="full-width" src="../img/4-Nosotros4.jpg">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                            <h3 class="sub-title">Principios Rectores</h3>
                            <div class="col-p">
                                <p>Contamos con certificaciones TIF 114, HACCP, KOSHER, PLANTA TIF 114 y USDA que nos avalan como una de las mejores opciones en la distribución de alimentos.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fa fa-registered" aria-hidden="true"></i> Derechos reservados</p>
                </div>
                <div class="col-md-4">
                    <p>Arturo Martínez Calzado 219, Col. Martel C.P. 66367
                    <br>Parque Industrial Marfer,
                    <br>Santa Catarina, Nuevo León.</p>
                    <p>Tel. 83781259</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
